[*.cs]

# S6667: Logging in a catch clause should pass the caught exception as a parameter.
dotnet_diagnostic.S6667.severity = none

# S2139: Exceptions should be either logged or rethrown but not both
dotnet_diagnostic.S2139.severity = none

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none
